streamlit
requests
python-dotenv
pandas
plotly

fastapi
uvicorn
pydantic
pydantic-settings
email-validator
motor
pymongo

bcrypt==4.0.1
passlib==1.7.4
PyJWT

google-generativeai
langchain
langchain-google-genai
langgraph
